body {
    background-image:url(/Diseño\ sin\ título_20240415_192353_0000.jpg);
    background-size: cover;
    padding: 0px;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

h1 {
    color: rgba(0,115,172,255);
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}
h2 {
    color: rgba(0,115,172,255);
}
h3 {
    color: rgba(0,115,172,255);
}
p {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    color: rgba(5,112,170,255);
}
body .border {
    margin: 30px;
    padding: 40px;
    border: dashed;
    border-color: #67bfc9;
    border-width: 10px 10px;
    border-radius: 100px;
}
/* !--ya esto es de la parte superior del header --! */
div .inter {
    background-color: rgba(199, 207, 214, 0.541);
    padding: 10px;
    border-radius: 100px;
}

header nav .sup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0px;
    width: auto;
    border: 0px;
    height: 200px;
}


.sup .logo {
    display: flex;
    justify-items: start;
    justify-content: center;
}
.sup .logo img{
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 80%;
}

.text {
    border-left: 4px  solid rgba(5,112,170,255);
    content:'';
    height: auto;
    padding: 6px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.sup .per {
    display: flex;
    justify-items: end;
    justify-content: center;
    overflow: hidden;
}
.sup .per img{
    margin-top: 96px;

    width: auto;
    height: 45%;
}
/* !--fin del header --! */


/* !--comenzamos con la parte del cuerpo de los formularis--! */
.formulario {
    margin: 30px;
}
.contenedor {
    display: flex;
    flex-direction: column;
}
section + section {
    margin-top:10px ;
}
section .patita {
    display: flex;
    align-items: center;
    align-items: center;
    height: 25px;

}
section .patita img{
    margin-right: 5px;
    width: 20px;
    height: auto;
}


section .primero {
    display: flex;
    justify-items: center;
    margin: 5px;
}
.primero input[type="text"].nombre {
    width: 500px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-right: 7px;
}
.primero input[type="text"].nombre {
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-right: 7px;
}

section input[type="radio"] {
    margin-top:3px ;
    width: 20px;
    height: 20px;
    accent-color: rgb(43, 87, 209);
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-right: 0px;
}
label {
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-left: 3px;
    padding-right: 5px;
    
    color: rgba(5,112,170,255);
}
input::placeholder {
    color: rgba(5,112,170,255);
    font-size: 15px;
    line-height: center;
}
section .sec2 input[type="text"] {
   margin-left: 159px;
}
section .sec3 input[type="text"] {
    margin-left: 346px;
}

section [type="text"] {
    width: 500px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-right: 7px;
}

.parrafo p{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.tenencia {
    margin-top: -4px;
    padding: 0px;
}
.rut input[type="text"] {
    width: 400px;
}
.fecha input[type="text"] {
    width: 400px;
}

.ultimate {
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
}
.imagenes {
    display: flex;
}
.imagenes img {
    max-width: 35%;
    margin-right: 60px;
}

.firma{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border:3px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 400px;
    overflow: hidden;
}
.firma p{
    margin-top: 130px;
}
.logomenor{
    float: right;
    margin-right: 150px;
    margin-top: -200px;
}
.logomenor img{
    height: auto;
    width: 200px;
    overflow: auto;

}